@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The site is built using the ASP.NET MVC Core framework. The homepage image copyright belongs to the Church of Jesus Christ of Latter-Day Saints.</p>
<p>The devlopers of this site are Melissa Moake and Chris Brown, students at BYU-Idaho:</p>
<address>
    Melissa Moake, Utah<br />
    <strong>E-Mail:</strong> <a href="mailto:moa13007@byui.edu">moa13007@byui.edu</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/Cyrenique">Melissa on Facebook</a><br />
</address>
<address>
    Chris Brown
    Kalispell, MT<br />
    <strong>E-Mail:</strong> <a href="mailto:csbrownnine@byui.edu">csbrownnine@byui.edu</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/csbrownnine">Chris on Facebook</a><br />
</address>