@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Sacrament Meeting Planner</h1>
</div>
<div class="home row">
    <div class="col-md-4">
        <h2>Plan</h2>
        <p>
            Using this application will allow you to plan
            every aspect of your sacrament meetings.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Assign</h2>
        <p>
            Planning ahead allows assignments to be made well
            ahead of time so that adequate preparation time is
            given to those who will speak.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Enrich</h2>
        <p>
            A well planned sacrament meeting enriches the lives
            of all who participate.
        </p>
    </div>
</div>