@model SacramentPlanner.Models.SpeakingAssignment

@{
    ViewData["Title"] = "Edit Speaking Assignment";
    DateTime meetingDate = Convert.ToDateTime(Model.SacramentMeeting.MeetingDate);
}

<h2>Edit</h2>

<h4>Speaking Assignment for @meetingDate.ToString("MM/dd/yyyy")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group has-float-label">
                <label asp-for="SacramentMeetingID" class="control-label"></label>
                <select asp-for="SacramentMeetingID" class="form-control" asp-items="ViewBag.SacramentMeetingID"></select>
            </div>
            <div class="form-group has-float-label">
                <label asp-for="AssignedOnDate" class="control-label"></label>
                <input asp-for="AssignedOnDate" class="form-control" />
                <span asp-validation-for="AssignedOnDate" class="text-danger"></span>
                <p>Note: The Sequence# is the order of the speakers. If the speaker needs to come after the rest hymn make the sequence number greater than 25.</p>
            </div>
            <div class="form-group has-float-label">
                <label asp-for="SpeakingSequence" class="control-label"></label>
                <input asp-for="SpeakingSequence" class="form-control" />
                <span asp-validation-for="SpeakingSequence" class="text-danger"></span>
            </div>
            <div class="form-group has-float-label">
                <label asp-for="SpeakerName" class="control-label"></label>
                <input asp-for="SpeakerName" class="form-control" />
                <span asp-validation-for="SpeakerName" class="text-danger"></span>
            </div>
            <div class="form-group has-float-label">
                <label asp-for="AssignedTopic" class="control-label"></label>
                <input asp-for="AssignedTopic" class="form-control" />
                <span asp-validation-for="AssignedTopic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.SacramentMeetingID">Back to Speaking Assignment List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
